@import "node_modules/bootstrap/scss/bootstrap";

button{
    margin-top: 20px;
    background-color: darkslateblue !important;
    border: darkslateblue !important;
  }

  label{
    margin-bottom: 10px;;
  }

  .button-submit{ 
    text-align: center;
  }